.form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.submitBtn {
  padding: 10px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
  color: rgb(255, 255, 255);
  background-color: black;
}

.submitBtn:hover {
  background-color: rgb(13, 236, 121);
}